# Thingy:91 nRF9161 board configuration
#
# Copyright (c) 2019 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause

if BOARD_THINGY91X_NRF9161 || BOARD_THINGY91X_NRF9161_NS

config NPM1300_INIT_PRIORITY
	int "Initialization priority for nPM1300"
	default 70
	help
	  Needs to be after I2C_INIT_PRIORITY, but before REGULATOR_NPM6001_COMMON_INIT_PRIORITY, 
	  NPM6001_INIT_PRIORITY and SENSOR_INIT_PRIORITY

config NPM6001_INIT_PRIORITY
	int "Initialization priority for nPM6001"
	default 78
	help
	  Needs to be after REGULATOR_NPM6001_COMMON_INIT_PRIORITY, but before WIFI_INIT_PRIORITY


endif # BOARD_THINGY91X_NRF9161 || BOARD_THINGY91X_NRF9161_NS

module=BOARD
module-dep=LOG
module-str=Log level for board
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"
